.box{
  border: 2px solid black;
  padding: 7px;
  margin: 4px;
}

.box .box-title{
  font-size: 24px;
  line-height: 150%;
}

.box .box-description{
  font-size: 16px;
  line-height: 200%;
}

.citation{
  background-color: gray;
  border: 2px solid black;
  padding: 7px;
  margin: 4px;
  position: relative;
}

.citation button{
  position: absolute;
  top: 5px;
  right: 5px;
}

.export-title{
  text-align: center;
}

.export-citation{
  padding-left: 22px;
  text-indent: -22px;
}