<!DOCTYPE html>
<html lang="en" ng-app='mla-cite-helper'>
  <head>
    <title>MLA Cite Helper</title>

    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/smoothness/jquery-ui-1.9.0.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">

    <script src="js/vendor/jquery-1.8.2.min.js"></script>
    <script src="js/vendor/jquery-ui-1.9.0.js"></script>

    <script src="js/vendor/bootstrap.min.js"></script>

    <script src="js/vendor/angular.js"></script>
    <script src="js/vendor/angular-sanitize.min.js"></script>
    <script src="js/vendor/angular-ui.js"></script>

    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/directives.js"></script>
    <script src="js/services.js"></script>

  </head>

  <body ng-controller="MainController">

    <div class="container">

      <div class="title">
        MLA Cite Helper
      </div>

      <div class="box">
        <div class="box-title">Step 1</div>
        <div class="box-description">Add Citations.</div>
        <select ng-model="selectedFormat" ng-options="resource.type for resource in formats"></select>
        <a ng-click="addCitation(selectedFormat)">Add Citation</a>
      </div>

      <div class="box" ng-show="citations.length">
        <div class="box-title">Step 2</div>
        <div class="box-description">Organize and Edit.</div>
        <div ui-sortable ng-model="citations">
          <div ng-repeat="citation in citations">
            <div class="citation">
              <div ng-click="editCitation(citation)" ng-bind-html="compileCitation(citation)"></div>
              <button ng-click="removeCitation($index)">&times;</button>
            </div>
          </div>
        </div>
      </div>

      <div class="box" ng-show="citations.length">
        <div class="box-title">Step 3</div>
        <div class="box-description">You're Done!</div>
        <button class="btn" ng-click="showExport=true">Finish</button>
      </div>

    </div>

    <div ui-modal ng-model="showExport" class="modal">
      <div class="modal-header">
        <button type="button" class="close" aria-hidden="true" ng-click="showEdit=false">&times;</button>
        <h3> Citations </h3>
      </div>
      <div class="modal-body">
        <p class="export-title">Works Cited</p>
        <div ng-repeat="citation in citations">
          <div ng-bind-html="compileCitation(citation)" class="export-citation"></div>
        </div>
      </div>
    </div>

    <div ui-modal ng-model="showEdit" class="modal">
      <div class="modal-header">
        <button type="button" class="close" aria-hidden="true" ng-click="showEdit=false">&times;</button>
        <h3>{{selectedCitation.type}}</h3>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" ng-repeat="field in selectedCitation.fields">
          <div class="control-group">
            <label class="control-label">{{field.name}}</label>
            <div class="controls">
              <input type="text" ng-model="field.value" style="display: inline-block"></input>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <a href="#" class="btn" ng-click="showEdit=false">Done</a>
      </div>
    </div>

  </body>